.App {
  text-align: center;
  color: white;
}

p{
  color: white;
  font-size: 18pt;
}

@media only screen and (max-width: 800px) {
  p{
    font-size: 14pt;
  }
}

h1{
  font-size: 28pt;
}

h2{
  font-size: 22pt;
}

h3{
  font-size: 20pt;
}

.frontpage{
  margin-top: auto;
  margin-bottom: auto;
}

.App-header {
  background-color: #343842;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#headline{
  text-shadow: 2px 2px 5px grey;
  transition: 800ms;
  font-size: 48pt;
}

@media only screen and (max-width: 800px) {
  #headline{
    font-size: 32pt;
  }
}

#headline:hover{
  color: cyan;
  transition: 800ms;
}

.navlink{
  text-decoration: none;
  color: white;
}

.repolink{
  text-decoration: none;
  color: cyan;
}

#profilepic{
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 5px 10px 5px rgb(34, 34, 34);
}

.skillsbox{
  display: flex;
  border: solid rgb(94, 116, 134) 80px;
  background-color:rgb(94, 116, 134) ;
  border-radius: 25px;
  box-shadow: black 30px 30px 30px;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .skillsbox{
    flex-direction: column;
    border: 20px;
    margin-bottom: 50px;
  }
  .skills{
    margin: 20px 5px;
    padding: 2px;
  }
}

.skills{
  padding: 10px;
  border: solid grey;
  background-color: grey;
  border-radius: 25px;
  box-shadow: rgb(65, 80, 92) 8px 8px 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.skillsetbox{
  background-color: #343842;
}

.skill{
  font-size: 16pt;
}

@media only screen and (max-width: 800px) {
  .skill{
    font-size: 12pt;
  }
}

#projectbox{
  background-color: #474f61;
}

.projectslot{
  display: flex;
  border: solid rgb(90, 90, 90);
  border-radius: 10px;
  background-color: rgb(90, 90, 90);
  margin: 20px;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  .projectslot{
    flex-direction: column;
    margin: 10px 0px;
  }
  .projectimg{
    min-width: 100%;
    align-self: center;
  }
}

.projectimg{
  max-width: 60%;
  margin: 15px;
}

ul{
  text-align: left;
}

section{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  min-height: 90vh;
  padding-top: 10vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nobullets{
  list-style-type: none;
}

.aboutme{
  min-height: 100vh;
}

.aboutmebox{
  background-color: #474f61;
}

.aboutmecontent{
  display: flex;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .aboutmecontent{
    flex-direction: column;
  }
}

.photo{
  max-width: 100%;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: grey;
}

.gallery{
  display: flex;
  flex-direction: column;
}

.nav{
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(92, 213, 243);
  background-image: linear-gradient(rgb(92, 213, 243),rgb(92, 213, 243), rgb(49, 110, 126));
  position: fixed;
}

.burgerMenu{
  height: 10vh;
  width: 100vw;
  background-color: rgb(92, 213, 243);
  background-image: linear-gradient(rgb(92, 213, 243),rgb(92, 213, 243), rgb(49, 110, 126));
  position: fixed;
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav{
    display: none;
  }
  .burgerMenu {
    display: flex;
  }
}

.navitem{
  display: inline;
  color: white;
  border-radius: 7px;
  background-color: rgb(0, 74, 109);
  box-shadow:  0 5px 5px 0  rgb(0, 83, 83), ;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px 10px;
  font-size: 12pt;
  transition: 1s;
}

.navitem:hover{
  background-color: rgb(0, 138, 138);
  transition: 1s;
}

html {
  scroll-behavior: smooth;
}

#contactbox{
  background-color: #343842;
}

.hidden{
  position: static;
  display: none;
}

/* .burgerBox{
  position:absolute
} */

.menu{
  position: relative
}