.App {
  text-align: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.frontpage{
  margin-top: auto;
  margin-bottom: auto;
}

.App-header {
  background-color: #343842;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#profilepic{
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 5px 10px 5px black;
}

.skillsbox{
  display: flex;
  border: solid rgb(94, 116, 134) 80px;
  background-color:rgb(94, 116, 134) ;
  border-radius: 25px;
  box-shadow: black 30px 30px 30px;
  margin: auto;
}

.skills{
  padding: 100px;
  border: solid grey;
  background-color: grey;
  border-radius: 25px;
  box-shadow: rgb(65, 80, 92) 8px 8px 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.skillsetbox{
  background-color: #343842;
}

ul{
  text-align: left;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nobullets{
  list-style-type: none;
}

.aboutmebox{
  background-color: #474f61;
}

.nav{
  min-height: 70px;
  width: 100%;
  background-color: grey;
  justify-content: none;
}

.navitem{
  display: inline;
  border: solid lightgray;
  margin-left: 20px;
  margin-right: 20px;
}